<main id="login_page">
    <h1>LOGIN OR CREATE ACCOUNT</h1>
    <form method="POST">
        <input type="text" placeholder="Enter email" name="emailAddress" />
        <input type="text" placeholder="Enter password" name="password" />
        <button formaction="/login">Login</button>
        <button formaction="/create">Create account</button>
       
   </form>
</main>