body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    border:1px solid grey;
    border-radius: 5px;
    background-color:palevioletred;
    margin-top: 5px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
a{
    text-decoration: none;
}